
<section class="footer">
<footer>
    <div class=" container container-footer">
        <nav class="nav-footer">
            <div class="container-list">
<ul class="footer-list">
    <li class="footer-list-iteam">
        <svg width="281" height="121">
            <use href="../img/logo.svg"></use>
        </svg>
    </li>
    <li>
        Про нас
    </li>
    <li>
        Переваги
    </li>
    <li>
        Асортимент
    </li>
    <li>
        Галерея
    </li>
    <li>
        Відгуки
    </li>
    <li>
        Контакти
    </li>
</ul>
</div>
<ul>
    <li>
        <a href="https://www.instagram.com/">
        <svg width="32" height="32">
                    <use href="../img/icons.svg#icon-Instagram"></use>
                </svg></a></li>
                <li><a href="https://www.linkedin.com/">
                    <svg width="32" height="32">
                    <use href="../img/icons.svg#icon-LinkedIn"></use>
                    </svg></a>
                </li>
                <li><a href="https://www.youtube.com/">
                    <svg width="32" height="32">
                    <use href="../img/icons.svg#icon-Youtube"></use>
                    </svg>
                    </a>
                </li>
</ul>
        </nav>
<address>
<ul>
    <li>
        <a href="tel:+380999091122">+38 (099) 909 11 22</a>
    </li>
    <li>
        <a href="mailto:hello@ecotote.com">hello@ecotote.com</a>
    </li>
    <p>
        ©2025 EcoTote. Всі права захищені.
    </p>
</ul>
</address>
</div>
</footer>
</section>