
<section class="footer">
<footer>
    <div class=" container container-footer">
        <nav class="nav-footer">
            
        <a href="index.html" class="logo">
        <svg width="281" height="121" class="svg-logo">
            <use class="logo-ss" href="./img/logo.svg"></use>
        </svg>
        </a>
        <div class="container-list">
        <ul class="footer-list">
    
    <li class="footer-nav-list">
       <a href=""> Про нас </a>
    </li>
    <li class="footer-nav-list">
        <a href=""> Переваги</a>
    </li>
    <li class="footer-nav-list">
        <a href="">Асортимент</a>
    </li>
    <li class="footer-nav-list">
        <a href="">Галерея</a>
    </li>
    <li class="footer-nav-list">
        <a href="">Відгуки</a>
    </li>
    <li class="footer-nav-list">
        <a href="">Контакти</a>
    </li>
</ul>
</div>
<div class="icons-menu">
<ul class="footer-list-icons">
    <li>
        <a href="https://www.instagram.com/">
        <svg width="32" height="32">
                    <use href="../img/icons.svg#icon-Instagram"></use>
                </svg></a></li>
                <li><a href="https://www.linkedin.com/">
                    <svg width="32" height="32">
                    <use href="../img/icons.svg#icon-LinkedIn"></use>
                    </svg></a>
                </li>
                <li><a href="https://www.youtube.com/">
                    <svg width="32" height="32">
                    <use href="../img/icons.svg#icon-Youtube"></use>
                    </svg>
                    </a>
                </li>
</ul>
      </div>
      <div class="address-footer"> 
<address>
<ul class="address-footer-list">
    <li>
        <a href="tel:+380999091122">+38 (099) 909 11 22</a>
    </li>
    <li>
        <a href="mailto:hello@ecotote.com">hello@ecotote.com</a>
    </li>
    </ul>
      
    </address>
    </div>
    <p class="potext">
        ©2025 EcoTote. Всі права захищені.
    </p>
     </div>



</div>
</nav>
</footer>
</section>