

<footer class="footer">
    <div class=" container container-footer">
        <nav class="nav-footer">
            <div class="menu-navigation">
                <div class="logo-footer">
        <a href="index.html" class="logo">
         <img src="./img/logo.svg" alt="logo" class="svg-logo">
        
        </a>
                </div>
        <div class="container-list">
            
        <ul class="footer-list">
    
    <li class="footer-nav-list">
       <a class="menu" href="hero.html"> Про нас </a>
    </li>
    <li class="footer-nav-list">
        <a  class="menu" href="s-layout.html"> Переваги</a>
    </li>
    <li class="footer-nav-list">
        <a class="menu" href="product.html">Асортимент</a>
    </li>
    <li class="footer-nav-list">
        <a  class="menu" href="gallery.html">Галерея</a>
    </li>
    <li class="footer-nav-list">
        <a class="menu" href="testimonial.html">Відгуки</a>
    </li>
    <li class="footer-nav-list">
        <a class="menu" href="contact.html">Контакти</a>
    </li>
</ul>
</div>
<div class="icons-menu">
<ul class="footer-list-icons">
    <li>
        <a href="https://www.instagram.com/">
        <svg width="32" height="32" class="icon">
                    <use href="../img/icons.svg#icon-Instagram"></use>
                </svg></a></li>
                <li><a href="https://www.linkedin.com/">
                    <svg width="32" height="32" class="icon">
                    <use href="../img/icons.svg#icon-LinkedIn"></use>
                    </svg></a>
                </li>
                <li><a href="https://www.youtube.com/">
                    <svg width="32" height="32" class="icon">
                    <use href="../img/icons.svg#icon-Youtube"></use>
                    </svg>
                    </a>
                </li>
</ul>
</div>
      </div>
      
<address>
    <div class="address-footer"> 
        <hr>
<ul class="address-footer-list">
    <li>
        <a href="tel:+380999091122">+38 (099) 909 11 22</a>
    </li>
    <li>
        <a href="mailto:hello@ecotote.com">hello@ecotote.com</a>
    </li>
    </ul>
      
    
    
    <p class="potext">
        ©2025 EcoTote. Всі права захищені.
    </p>
     </div>


</address>
</div>
</nav>
</footer>
