<section class="gallery" id="gallery">
  <div class="gallery-container">
    <h2 class="gallery-title">Галерея зображень</h2>
    <h3 class="gallery-subtitle">EcoTotes у повсякденному житті</h3>
    <div class="gallery-item">
      <div class="gallery-item-part-1">
        <picture>
          <source
            media="(min-width: 1400px)"
            srcset="
              /img/gallery/woman-carrot-desk.jpg   1x,
              /img/gallery/woman-carrot@2-desk.jpg 2x
            "
          />

          <source
            media="(min-width: 768px)"
            srcset="
              /img/gallery/woman-carrot-tablet.jpg    1x,
              /img/gallery/woman-carrot@2x-tablet.jpg 2x
            "
          />

          <source
            srcset="
              /img/gallery/woman-carrot-mob.jpg    1x,
              /img/gallery/woman-carrot@2x-mob.jpg 2x
            "
          />
          <img
            class="gallery-item-img gallery-item-desc-small"
            src="/img/gallery/woman-carrot-mob.jpg"
            alt="woman-with-carrot"
          />
        </picture>

        <picture>
          <source
            media="(min-width: 1400px)"
            srcset="
              /img/gallery/bag-desk.jpg    1x,
              /img/gallery/bag@2x-desk.jpg 2x
            "
          />

          <source
            media="(min-width: 768px)"
            srcset="
              /img/gallery/man-tablet.jpg    1x,
              /img/gallery/man@2x-tablet.jpg 2x
            "
          />

          <source
            srcset="/img/gallery/man-mob.jpg 1x, /img/gallery/man@2x-mob.jpg 2x"
          />

          <img
            class="gallery-item-img gallery-item-desc-big"
            src="/img/gallery/man-mob.jpg"
            alt="man-with-bag"
          />
        </picture>
      </div>
      <div class="gallery-item-part-2">
        <img src="../img/gallery/" alt="" />
        <picture>
          <source
            media="(min-width: 1400px)"
            srcset="
              /img/gallery/woman-desk.jpg    1x,
              /img/gallery/woman@2x-desk.jpg 2x
            "
          />

          <source
            media="(min-width: 768px)"
            srcset="
              /img/gallery/woman@2x-tablet.jpg 1x,
              /img/gallery/woman@2x-tablet.jpg 2x
            "
          />

          <source
            srcset="
              /img/gallery/woman-mob.jpg    1x,
              /img/gallery/woman@2x-mob.jpg 2x
            "
          />

          <img
            class="gallery-item-img gallery-item-desc-big"
            src="/img/gallery/woman-mob.jpg"
            alt="woman-with-bag-in-park"
          />
        </picture>
        <img src="../img/gallery/" alt="" />
        <picture>
          <source
            media="(min-width: 1400px)"
            srcset="
              /img/gallery/man-desk.jpg    1x,
              /img/gallery/man@2x-desk.jpg 2x
            "
          />

          <source
            media="(min-width: 768px)"
            srcset="
              /img/gallery/bag-tablet.jpg    1x,
              /img/gallery/bag@2x-tablet.jpg 2x
            "
          />

          <source
            srcset="/img/gallery/bag-mob.jpg 1x, /img/gallery/bag@2x-mob.jpg 2x"
          />

          <img
            class="gallery-item-img gallery-item-desc-small"
            src="/img/gallery/bag-mob.jpg"
            alt="bag-on-chear"
          />
        </picture>
      </div>
    </div>
  </div>
</section>
