<section class="gallery" id="gallery">
  <div class="gallery-container">
    <h2 class="gallery-title">Галерея зображень</h2>
    <h3 class="gallery-subtitle">EcoTotes у повсякденному житті</h3>
    <ul class="gallery-list">
      <li class="gallery-item">
        <img
          class="gallery-item-img gallery-item-desc-small gallery-img-first"
          src="./img/gallery/bag-desk.jpg"
          srcset="./img/gallery/bag@2x-desk.jpg"
          alt="kraft-bag-on-chair"
          width="288"
          height="288"
        />
      </li>
      <li class="gallery-item">
        <img
          class="gallery-item-img gallery-item-desc-big gallery-img-second"
          src="./img/gallery/man-mob.jpg"
          srcset="./img/gallery/man@2x-mob.jpg"
          alt="man-with-a-bag-in-the-city"
          width="288"
          height="288"
        />
      </li>
      <li class="gallery-item">
        <img
          class="gallery-item-img gallery-item-desc-big gallery-img-third"
          src="./img/gallery/woman-mob.jpg"
          srcset="./img/gallery/woman@2x-mob.jpg"
          alt="woman-with-bag-in-park"
          width="288"
          height="288"
        />
      </li>
      <li class="gallery-item">
        <img
          class="gallery-item-img gallery-item-desc-small gallery-img-last"
          src="./img/gallery/woman-carrot-mob.jpg"
          srcset="./img/gallery/woman-carrot@2x-mob.jpg"
          alt="woman-with-carrot"
          width="288"
          height="288"
        />
      </li>
    </ul>
  </div>
</section>
