<section class="section-layout" id="s-layout">
  <div class="div-layout">
    <h3 class="layout-hhh-top">Переваги</h3>
    <h2 class="layout-hh">Чому обрати нас?</h2>
    <p class="layout-hh-p">
      Наші сумки виготовлені з екологічно чистих матеріалів, що забезпечують
      стійкість і довговічність. Обираючи EcoTote, ви підтримуєте екологічну
      відповідальність.
    </p>

    <ul class="layout-ul">
      <li class="layout-li">
        <picture>
          <source
            media="(min-width: 1440px)"
            srcset="
              /img/s-layout/bag-materials-desktop.jpg    1x,
              /img/s-layout/bag-materials-desktop@2x.jpg 2x
            "
          />
          <source
            media="(min-width: 768px)"
            srcset="
              /img/s-layout/bag-materials-tablet.jpg    1x,
              /img/s-layout/bag-materials-tablet@2x.jpg 2x
            "
          />
          <source
            media="(max-width: 767px)"
            srcset="
              /img/s-layout/bag-materials-mobile.jpg    1x,
              /img/s-layout/bag-materials-mobile@2x.jpg 2x
            "
          />
          <img
            class="layout-img"
            src="/img/s-layout/bag-materials-mobile.jpg"
            alt="bag-materials"
          />
        </picture>
        <h3 class="layout-hhh">Стійкість та екологічність</h3>
        <p class="layout-p">
          Виготовлені з органічної бавовни та переробленого пластику.
        </p>
      </li>
      <li class="layout-li">
        <picture>
          <source
            media="(min-width: 1440px)"
            srcset="
              /img/s-layout/create-bag-desktop.jpg    1x,
              /img/s-layout/create-bag-desktop@2x.jpg 2x
            "
          />
          <source
            media="(min-width: 768px)"
            srcset="
              /img/s-layout/create-bag-tablet.jpg    1x,
              /img/s-layout/create-bag-tablet@2x.jpg 2x
            "
          />
          <source
            media="(max-width: 767px)"
            srcset="
              /img/s-layout/create-bag-mobile.jpg    1x,
              /img/s-layout/create-bag-mobile@2x.jpg 2x
            "
          />
          <img
            class="layout-img"
            src="/img/s-layout/create-bag-mobile.jpg"
            alt="create-bag"
          />
        </picture>
        <h3 class="layout-hhh">Міцність і довговічність</h3>
        <p class="layout-p">
          Наші сумки мають посилені шви для тривалого використання.
        </p>
      </li>
      <li class="layout-li">
        <picture>
          <source
            media="(min-width: 1440px)"
            srcset="
              /img/s-layout/Three-bag-desktop.jpg    1x,
              /img/s-layout/Three-bag-desktop@2x.jpg 2x
            "
          />
          <source
            media="(min-width: 768px)"
            srcset="
              /img/s-layout/Three-bag-tablet.jpg    1x,
              /img/s-layout/Three-bag-tablet@2x.jpg 2x
            "
          />
          <source
            media="(max-width: 767px)"
            srcset="
              /img/s-layout/Three-bag-mobile.jpg    1x,
              /img/s-layout/Three-bag-mobile@2x.jpg 2x
            "
          />
          <img
            class="layout-img"
            src="/img/s-layout/Three-bag-mobile.jpg"
            alt="Three-bag"
          />
        </picture>
        <h3 class="layout-hhh">Стильний та сучасний дизайн</h3>
        <p class="layout-p">
          Мінімалістичні моделі в обмежених серіях для кожного стилю.
        </p>
      </li>
    </ul>
  </div>
</section>
