   <section class="testimonial-sect" id="testimonial">
        <div class="container">
            <h2 class="testimonial-tittle">
                Що говорять наші клієнти
            </h2>
        <ul class="testimonial-list">
            <li class="testimonial-item">
                <div class="svg-star-wrapper">
                    <svg class="star-icon-filled" width="24" height="24"><use href = "../img/icons.svg#icon-star-fillled"></use></svg>
                    <svg class="star-icon-filled" width="24" height="24"><use href = "../img/icons.svg#icon-star-fillled"></use></svg>
                    <svg class="star-icon-filled" width="24" height="24"><use href = "../img/icons.svg#icon-star-fillled"></use></svg>
                    <svg class="star-icon-filled" width="24" height="24"><use href = "../img/icons.svg#icon-star-fillled"></use></svg>
                    <svg class="star-icon-filled" width="24" height="24"><use href = "../img/icons.svg#icon-star-fillled"></use></svg>
                </div>

                <div class="testimonial-text">
                    <p class="testimonial-paragraph">Сумка дуже зручна та стильна, використовую щодня!</p>
                    <span class="testimonial-author">Анна</span>
                </div>
            </li>
            <li class="testimonial-item">
                <div class="svg-star-wrapper">
                    <svg class="star-icon-filled" width="24" height="24"><use href = "../img/icons.svg#icon-star-fillled"></use></svg>
                    <svg class="star-icon-filled" width="24" height="24"><use href = "../img/icons.svg#icon-star-fillled"></use></svg>
                    <svg class="star-icon-filled" width="24" height="24"><use href = "../img/icons.svg#icon-star-fillled"></use></svg>
                    <svg class="star-icon-filled" width="24" height="24"><use href = "../img/icons.svg#icon-star-fillled"></use></svg>
                    <svg class="star-icon-filled" width="24" height="24"><use href = "../img/icons.svg#icon-star-fillled"></use></svg>
                </div>

                <div class="testimonial-text">
                    <p class="testimonial-paragraph testimonial-paragraph-special">Відмінна якість матеріалів, приємно здивована.</p>
                    <span class="testimonial-author">Ігор</span>
                </div>
            </li>
            <li class="testimonial-item testimonial-paragraph-special2">
                <div class="svg-star-wrapper">
                    <svg class="star-icon-filled" width="24" height="24"><use href = "../img/icons.svg#icon-star-fillled"></use></svg>
                    <svg class="star-icon-filled" width="24" height="24"><use href = "../img/icons.svg#icon-star-fillled"></use></svg>
                    <svg class="star-icon-filled" width="24" height="24"><use href = "../img/icons.svg#icon-star-fillled"></use></svg>
                    <svg class="star-icon-filled" width="24" height="24"><use href = "../img/icons.svg#icon-star-fillled"></use></svg>
                    <svg class="star-icon-filled" width="24" height="24"><use href = "../img/icons.svg#icon-star-fillled"></use></svg>
                </div>

                <div class="testimonial-text">
                    <p class="testimonial-paragraph">Сумка повністю відповідає опису, рекомендую!</p>
                    <span class="testimonial-author">Олена</span>
                </div>
            </li>
            <li class="testimonial-item">
                <div class="svg-star-wrapper">
                    <svg class="star-icon-filled" width="24" height="24"><use href = "../img/icons.svg#icon-star-fillled"></use></svg>
                    <svg class="star-icon-filled" width="24" height="24"><use href = "../img/icons.svg#icon-star-fillled"></use></svg>
                    <svg class="star-icon-filled" width="24" height="24"><use href = "../img/icons.svg#icon-star-fillled"></use></svg>
                    <svg class="star-icon-filled" width="24" height="24"><use href = "../img/icons.svg#icon-star-fillled"></use></svg>
                    <svg class="star-icon-empty" width="24" height="24"><use href = "../img/icons.svg#icon-star"></use></svg>
                </div>

                <div class="testimonial-text">
                    <p class="testimonial-paragraph testimonial-lower-name">Швидка доставка та гарне обслуговування.</p>
                    <span class="testimonial-author">Сергій</span>
                </div>
            </li>
        </ul>
        </div>
    </section>