 
.contact-section {
	padding-top: 32px;
	padding-bottom: 32px;
	background: var(--color-scheme-1-background);
}

.title-contact {
	font-family: var(--second-family);
	font-weight: 700;
	font-size: 36px;
	line-height: 1.2;
	letter-spacing: 0.01em;
	color: var(--color-scheme-1-text);
}

.paragraph-contact {
	font-family: var(--font-family);
	font-weight: 400;
	font-size: 18px;
	line-height: 1.6;
	color: var(--color-scheme-1-text);
	margin-top: 24px;
	margin-bottom: 32px;
}

.input-group {
	margin-bottom: 24px;
}

.label-contact {
	font-family: var(--font-family);
	font-weight: 400;
	font-size: 16px;
	line-height: 1.6;
	color: var(--color-scheme-1-text);
	display: block;
	margin-bottom: 8px;
}

.text-field {
	font-family: var(--font-family);
	font-weight: 400;
	font-size: 16px;
	line-height: 1.6;
	color: var(--opacity-neutral-darkest-60);
	border: 1px solid var(--opacity-neutral-darkest-15);
	border-radius: 6px;
	padding: 8px 12px;
	width: 100%;
	height: 42px;
	outline: transparent;
	background: var(--opacity-neutral-darkest-5);
}

input[type="text"] {
	color: var(--color-scheme-2-text);
}

input[type="email"] {
	color: var(--color-scheme-2-text);
}

.text-field:not(:placeholder-shown):invalid {
	border: 1px solid var(--color-error-red);
	background: var(--opacity-neutral-darkest-5);
	transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.text-invalid {
	font-family: var(--font-family);
	font-weight: 400;
	font-size: 12px;
	line-height: 1.6;
	display: none;
	color: var(--color-error-red);
	transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.text-field:not(:placeholder-shown):invalid~.text-invalid {
	display: block;
}

.response{
	margin-bottom: 24px;
}

.response-textarea {
	border: 1px solid var(--opacity-neutral-darkest-15);
	border-radius: 6px;
	padding: 12px;
	width: 100%;
	height: 180px;
	resize: none;
	outline: transparent;
	background: var(--opacity-neutral-darkest-5);
	font-family: var(--font-family);
	font-weight: 400;
	font-size: 16px;
	line-height: 1.6;
	color: var(--opacity-neutral-darkest-60);
	transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.response-textarea:not(:placeholder-shown) {
	color: var(--color-scheme-2-text);
}

.button-form {
	border: 1px solid var(--color-neutral-darkest);
	border-radius: 6px;
	padding: 12px 24px;
	width: 100%;
	height: 50px;
	background: var(--color-neutral-darkest);
	font-family: var(--font-family);
	font-weight: 400;
	font-size: 16px;
	line-height: 1.6;
	color: var(--color-white);
	margin-bottom: 24px;
	transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.button-form:active {
	background: var(--color-emerald-darkest);
	opacity: 0.6;
}

.form-picture {
	border-radius: 40px;
	width: 288px; 
	height: 428px; 
}

@media screen and (min-width: 768px) {
	.contact-section {
	    padding-top: 64px;
		padding-bottom: 64px;
	}
	
	.title-contact {
		max-width: 468px;
	}

	.button-form {
		display: flex;
		max-width: 249px;
		justify-content: center;
	}

	.form-picture {
	    width: 704px;
	}
}

@media screen and (min-width: 1440px) {
	.contact-section {
	   padding-top: 64px;
	   padding-bottom: 64px;
	}

	.contact-container {
		display: flex;
		flex-direction: row;
		align-items: flex-start;
	    justify-content: space-between;
		gap: 24px;
	}

	.title-contact {
	   font-size: 48px;
	   max-width: 644px;
	}

	.text-field {
		max-width: 644px;
	}

	.response-textarea {
		max-width: 644px;
	}
	
	.button-form {
        max-width: 198px;
	}

	.button-form:hover,
	.button-form:focus {
		opacity: 0.5;
	}
	
	.form-left {
		max-width: 644px;
		display: flex;
		flex-direction: column;
	}
	.picture {
	    flex-shrink: 0;
		max-width: 644px;
		display: flex;
	}

	.form-picture {
		width: 644px;
		height: 768px;
	}
}

 
