.feature {
  background-image: linear-gradient(
      to bottom,
      rgba(3, 10, 6, 0.15),
      rgba(3, 10, 6, 0.15)
    ),
    url('/img/feature/feature-mobile.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  max-width: 320px;
  min-height: 348px;
  margin: auto;
}
@media screen and (min-resolution: 192dpi) {
  .feature {
    background-image: linear-gradient(
        to bottom,
        rgba(3, 10, 6, 0.15),
        rgba(3, 10, 6, 0.15)
      ),
      url('/img/feature/feature-mobile@2x.jpg');
  }
}
@media screen and (min-width: 768px) {
  .feature {
    background-image: linear-gradient(
        to bottom,
        rgba(0, 0, 0, 0.4),
        rgba(0, 0, 0, 0.4)
      ),
      url('/img/feature/feature-tablet.jpg');
    max-width: 768px;
    min-height: 325px;
  }
}
@media screen and (min-width: 768px) and (min-resolution: 192dpi) {
  .feature {
    background-image: linear-gradient(
        to bottom,
        rgba(0, 0, 0, 0.4),
        rgba(0, 0, 0, 0.4)
      ),
      url('/img/feature/feature-tablet@2x.jpg');
  }
}
@media screen and (min-width: 1440px) {
  .feature {
    background-image: linear-gradient(
        to bottom,
        rgba(0, 0, 0, 0.4),
        rgba(0, 0, 0, 0.4)
      ),
      url('/img/feature/feature-desktop.jpg');
    max-width: 1440px;
    min-height: 462px;
  }
}
@media screen and (min-width: 1440px) and (min-resolution: 192dpi) {
  .feature {
    background-image: linear-gradient(
        to bottom,
        rgba(0, 0, 0, 0.4),
        rgba(0, 0, 0, 0.4)
      ),
      url('/img/feature/feature-desktop@2x.jpg');
  }
}
.feature-content {
  padding-top: 64px;
  padding-bottom: 64px;
}
.feature-title {
  font-weight: 600;
  font-size: 16px;
  line-height: 1.5;
  text-align: center;
  color: var(--color-white);
  margin-bottom: 12px;
}
.feature-subtitle {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.2;
  letter-spacing: 0.01em;
  text-align: center;
  color: var(--color-white);
  margin-bottom: 20px;
  font-family: var(--second-family);
}
.feature-description {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.6;
  text-align: center;
  color: var(--color-white);
}
@media screen and (min-width: 768px) {
  .feature-title {
    margin-bottom: 16px;
  }
  .feature-subtitle {
    margin-bottom: 24px;
  }
  .feature-description {
    font-size: 18px;
  }
}
@media screen and (min-width: 1440px) {
  .feature-subtitle {
    font-size: 56px;
    max-width: 580px;
    margin: 0 auto 24px;
  }
}
