:root {
	--color-scheme-1-background: var(--color-emerald-lightest);
	--color-neutral-darkest: #030a06;
	--color-scheme-1-border: var(--opacity-neutral-darkest-15);
	--color-scheme-1-text: var(--color-neutral-darkest);
	--color-neutral-lighter: #d9dad9;
	--color-white: #fff;
	--color-neutral-lightest: #f2f2f2;
	--color-neutral-light: #b3b5b4;
	--color-neutral: #818482;
	--color-neutral-dark: #4e5350;
	--color-neutral-darker: #1c221e;
	--opacity-transparent: rgba(255, 255, 255, 0);
	--color-scheme-1-foreground: var(--color-emerald-lighter);
	--color-scheme-1-accent: var(--color-neutral-darkest);
	--opacity-white-5: rgba(255, 255, 255, 0.05);
	--opacity-white-10: rgba(255, 255, 255, 0.1);
	--opacity-white-15: rgba(255, 255, 255, 0.15);
	--opacity-white-20: rgba(255, 255, 255, 0.2);
	--opacity-white-30: rgba(255, 255, 255, 0.3);
	--opacity-white-40: rgba(255, 255, 255, 0.4);
	--opacity-white-50: rgba(255, 255, 255, 0.5);
	--opacity-white-60: rgba(255, 255, 255, 0.6);
	--opacity-neutral-darkest-5: rgba(3, 10, 6, 0.05);
	--opacity-neutral-darkest-10: rgba(3, 10, 6, 0.1);
	--opacity-neutral-darkest-15: rgba(3, 10, 6, 0.15);
	--opacity-neutral-darkest-20: rgba(3, 10, 6, 0.2);
	--opacity-neutral-darkest-30: rgba(3, 10, 6, 0.3);
	--opacity-neutral-darkest-40: rgba(3, 10, 6, 0.4);
	--opacity-neutral-darkest-50: rgba(3, 10, 6, 0.5);
	--opacity-neutral-darkest-60: rgba(3, 10, 6, 0.6);
	--color-emerald-lightest: #ebf8ed;
	--color-emerald-lighter: #d7f2db;
	--color-emerald-light: #75d281;
	--color-emerald: #3ac04c;
	--color-emerald-dark: #2e993c;
	--color-emerald-darker: #174c1e;
	--color-emerald-darkest: #113916;
	--color-scheme-2-text: var(--color-neutral-darkest);
	--color-scheme-2-background: var(--color-emerald-light);
	--color-scheme-2-border: var(--opacity-neutral-darkest-15);
	--color-scheme-2-accent: var(--color-neutral-darkest);
	--color-scheme-2-foreground: var(--color-emerald);
	--color-scheme-3-text: var(--color-neutral-darkest);
	--color-scheme-3-background: var(--color-white);
	--color-scheme-3-border: var(--opacity-neutral-darkest-15);
	--color-scheme-3-accent: var(--color-neutral-darkest);
	--color-scheme-3-foreground: var(--color-neutral-lightest);
	--color-error-red: #d64040;
}

:root {
  --font-family: "Fira Sans", sans-serif;
  --second-family: "Comfortaa", sans-serif;
}

/* Перед злиттям ВИДАЛИТИ всі змінні що знаходяться у файлі! */

/* Стилі пишемо нище цього коментаря */

ul, ol{
        margin: 0;
        list-style: none;
        padding-left: 0;}

.footer{
	background-color: #75d281;
}
.container-footer{
	width: 320px;
	height: 863px;
	max-width: 320px;
	padding: 48px 20px;
	display: flex;
	gap: 20px;
	box-sizing: border-box;
	
}

.nav-footer{

	align-items: center;
}


.logo{
	width: 281px;
	height: 121px;
	display: block;
	margin-bottom: 59px;
	
}
.svg-logo{
	width: 100%;
	
}
	

	

.footer-list{
	display: flex;
	flex-direction: column;
	gap: 32px;
	margin-bottom: 48px;
	list-style: none;
	padding: 0;
	text-align: center;
	width: 100%;
	align-items: center;
}
.icons-menu{
	width: 280px;
	height: 32px;
	margin: 0 auto 48px;
	
}
hr{
	border: 1px solid rgba(3, 10, 6, 0.15);
width: 704px;
height: 0px;
margin: 0;
}

.footer-list-icons{
	flex-direction: row;
	display: flex;
	gap: 12px;
	padding: 0;
	margin: 0 auto 48px;
	justify-content: center;
}
.address-footer{
	font-style: normal;
	width: 280px;
	height: 154px;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: flex-start;
	margin: 0 auto;
	gap: 16px;
	text-align: center;
	
}
.address-footer-list{
	display: flex;
	flex-direction: column;
	gap: 16px;
	padding: 0;
	margin: 0;
	text-align: center;
	width: 100%;
	font-weight: 400;
	font-size: 16px;
	line-height: 160%;
	color: #030a06;
}
.potext{
	margin: 24px auto 64px auto;
	font-weight: 400;
	font-size: 14px;
	line-height: 160%;
	color: #030a06;
	text-align: center;
}
.nav-footer.menu{
pointer-events: none;
}

@media (min-width: 768px) and (max-width: 1024px) {
    .container-footer {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-top: 64px;
        padding-bottom: 64px;
        width: 768px;
		height: 432px;
        margin: 0 auto;
        box-sizing: border-box;
    }

    .logo {
        width: 164px;
        height: 70px;
        margin-bottom: 48px;
		display: block;
		margin-left: auto;
		margin-right: auto;
    }
	.menu-navigation{
		width: 704px;
		height: 200px;
	}

    .footer-list {
        display: flex;
        flex-direction: row;
        gap: 32px;
        justify-content: center;
        margin-bottom: 32px;
        padding: 0;
        width: 100%;
    }

    .footer-list li {
        list-style: none;
    }

    .nav-footer .menu {
        pointer-events: auto;
        cursor: pointer;
        text-decoration: none;
        color: #030a06;
        font-size: 16px;
    }

    .icons-menu {
        display: flex;
        justify-content: center;
        gap: 12px;
        margin-bottom: 32px;
        width: 100%;
    }
.icon{
	width: 40px;
		height: 40px;
}
    .address-footer {
        width: 306px;
		height: 26px;
		padding-top: 24px;
    }

    .address-footer-list {
        display: flex;
        flex-direction: row;
		gap: 32px;
		justify-content: center;
		width: 100%;
    }

    .potext {
        text-align: center;
        margin: 0 auto;
    }
}
@media (min-width: 1025px) {
	.container-footer {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 1440px;
        height: 362px;
        margin: 0 auto;
        padding: 0 20px;
        box-sizing: border-box;
        justify-content: space-between;
    }

	.menu-navigation{
		width: 1312px;
		height: 70px;
		  display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        gap: 32px;
		margin-top: 80px;
        
	}
	 .logo {
        width: 164px;
        height: 70px;}

		.logo-footer{
			margin-left: 64px;
			width: 341px;
			height: 70px;
		}
		.footer-list {
			width: 566px;
		height: 26px;
        display: flex;
        flex-direction: row;
        gap: 32px;
        list-style: none;
        padding: 0;
        margin: 0;
	}
	
	.icons-menu{
		width: 341px;
		height: 24px;
		margin-right: 64px;
		align-items: center;
		
	}
	.icon{
		width: 24px;
		height: 24px;
	}
	.footer-list-icons{
		margin-top: 23px;
		display: flex;
		justify-content: flex-end;
		gap: 12px;
		width: 100%;
		
	}
	.address-footer-list {
        display: flex;
        flex-direction: row;
        gap: 32px;
        justify-content: center;
        width: 100%;
		
	}
	.address-footer{
		width: 1312px;
		height: 80px;
		padding-top: 52px;

	}
	.potext{
		margin-top: 16px;

	}
	hr{
		border: 1px solid rgba(3, 10, 6, 0.15);
	width: 1312px;
	height: 0px;
	
	 
	}
}

