:root {
	--color-scheme-1-background: var(--color-emerald-lightest);
	--color-neutral-darkest: #030a06;
	--color-scheme-1-border: var(--opacity-neutral-darkest-15);
	--color-scheme-1-text: var(--color-neutral-darkest);
	--color-neutral-lighter: #d9dad9;
	--color-white: #fff;
	--color-neutral-lightest: #f2f2f2;
	--color-neutral-light: #b3b5b4;
	--color-neutral: #818482;
	--color-neutral-dark: #4e5350;
	--color-neutral-darker: #1c221e;
	--opacity-transparent: rgba(255, 255, 255, 0);
	--color-scheme-1-foreground: var(--color-emerald-lighter);
	--color-scheme-1-accent: var(--color-neutral-darkest);
	--opacity-white-5: rgba(255, 255, 255, 0.05);
	--opacity-white-10: rgba(255, 255, 255, 0.1);
	--opacity-white-15: rgba(255, 255, 255, 0.15);
	--opacity-white-20: rgba(255, 255, 255, 0.2);
	--opacity-white-30: rgba(255, 255, 255, 0.3);
	--opacity-white-40: rgba(255, 255, 255, 0.4);
	--opacity-white-50: rgba(255, 255, 255, 0.5);
	--opacity-white-60: rgba(255, 255, 255, 0.6);
	--opacity-neutral-darkest-5: rgba(3, 10, 6, 0.05);
	--opacity-neutral-darkest-10: rgba(3, 10, 6, 0.1);
	--opacity-neutral-darkest-15: rgba(3, 10, 6, 0.15);
	--opacity-neutral-darkest-20: rgba(3, 10, 6, 0.2);
	--opacity-neutral-darkest-30: rgba(3, 10, 6, 0.3);
	--opacity-neutral-darkest-40: rgba(3, 10, 6, 0.4);
	--opacity-neutral-darkest-50: rgba(3, 10, 6, 0.5);
	--opacity-neutral-darkest-60: rgba(3, 10, 6, 0.6);
	--color-emerald-lightest: #ebf8ed;
	--color-emerald-lighter: #d7f2db;
	--color-emerald-light: #75d281;
	--color-emerald: #3ac04c;
	--color-emerald-dark: #2e993c;
	--color-emerald-darker: #174c1e;
	--color-emerald-darkest: #113916;
	--color-scheme-2-text: var(--color-neutral-darkest);
	--color-scheme-2-background: var(--color-emerald-light);
	--color-scheme-2-border: var(--opacity-neutral-darkest-15);
	--color-scheme-2-accent: var(--color-neutral-darkest);
	--color-scheme-2-foreground: var(--color-emerald);
	--color-scheme-3-text: var(--color-neutral-darkest);
	--color-scheme-3-background: var(--color-white);
	--color-scheme-3-border: var(--opacity-neutral-darkest-15);
	--color-scheme-3-accent: var(--color-neutral-darkest);
	--color-scheme-3-foreground: var(--color-neutral-lightest);
	--color-error-red: #d64040;
}

:root {
  --font-family: "Fira Sans", sans-serif;
  --second-family: "Comfortaa", sans-serif;
}

/* Перед злиттям ВИДАЛИТИ всі змінні що знаходяться у файлі! */

/* Стилі пишемо нище цього коментаря */

ul, ol{
        margin: 0;
        list-style: none;
        padding-left: 0;}

.footer{
	width: 100%;
    height: auto;
    padding: 48px 0;
	background-color: #75d281;
}
.container-footer{
	display: flex;
    flex-direction: column;
    gap: 48px;
    align-items: center;
	
}
.container-nav-footer{
	display: flex;
    flex-direction: column;
    gap: 48px;
    align-items: center;
}
.svg-logo{
	display: block;
    width: 272px;
    height: 101px;
}
.footer-list{
	display: flex;
    flex-direction: column;
    align-items: center;
    gap: 32px;
}
.menu{
	font-family: "Fira Sans", sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.6;
    color: #030a06;
}
.footer-list-icons{
	display: flex;
    gap: 12px;
    justify-content: center;
}
.footer-link-icons{
	font-family: "Fira Sans", sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.6;
    color: #030a06;
}
.address-footer{
	width: 100%;
    border-top: 1px solid rgba(3, 10, 6, 0.15);
    padding-top: 24px;
}
.address-footer-list{
	display: flex;
    flex-direction: column;
    gap: 16px;
    align-items: center;
    margin-bottom: 24px;
}
.link-address{
	font-style: normal;
	font-weight: 400;
	font-size: 16px;
	line-height: 1.6;
}
.potext{
	font-family: "Fira Sans", sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.6;
    color: #030a06;
    text-align: center;
}
@media screen and (min-width: 768px) {
.footer{
	padding: 64px 0;
}
.container-footer{
	gap: 24px;
}
.container-nav-footer{
	gap: 32px;
}
.svg-logo{
	width: 159px;
    height: 59px;
}
.footer-list{
	flex-direction: row;
    width: 100%;
    margin: 0 auto;
}
.icon{
	width: 40px;
    height: 40px;
}
.address-footer{
	padding-top: 16px;
}
.address-footer-list{
	flex-direction: row;
        gap: 32px;
        justify-content: center;
        align-items: center;
        margin-bottom: 16px;
}
}
@media screen and (min-width: 1440px) {
.menu::after,
.link-address::after {
        content: "";
        position: absolute;
        left: 0;
        bottom: 15px;
        height: 2px;
        width: 0;
        background-color: currentColor;
        transition: width 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.menu:hover::after,
.link-address:hover::after,
.menu:focus::after,
.link-address:focus::after {
    width: 100%;
  }
 .menu:active,
  .link-address:active {
    color: #3ac04c;
  }

.footer{
	padding: 80px 0;
}
.container-footer{
	gap: 52px;
}
.container-nav-footer{
		flex-direction: row;
        justify-content: space-between;
        gap: 0;
        width: 100%;
}
.footer-list{
	margin: 0;
    width: auto;
}
.menu{
	position: relative;
    padding: 23px 0;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.icon{
	width: 24px;
    height: 24px;
}
.link-address{
	position: relative;
    padding: 23px 0;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}




}