

.gallery-container {
	display: flex;
	flex-direction: column;
	gap: 24px;
	align-items: center;
	background: var(--color-scheme-1-background);
}

.gallery-title {
	font-family: var(--second-family);
		font-weight: 700;
		font-size: 36px;
		line-height: 43px;
		letter-spacing: 0.01em;
		text-align: center;
		color: var(--color-scheme-3-text);
}

.gallery-subtitle {
	font-family: var(--font-family);
	font-weight: 400;
	font-size: 18px;
	line-height: 29px;
	text-align: center;
	text-decoration: none;
}

.gallery-list {
	display: flex;
	flex-direction: column;
	gap: 16px;
}


.gallery-item-img {
	border-radius: 32px;
	max-width: 288px;
}

@media screen and (min-width: 768px) {

	.gallery-title {
		font-weight: 700;
		font-size: 36px;
		line-height: 43px;
		letter-spacing: 0.01em;
		text-align: center;
		color: var(--color-scheme-3-text);
		margin: 64px 32px 24px;
	}

	.gallery-subtitle {
		font-family: var(--font-family);
		font-weight: 400;
		font-size: 18px;
		line-height: 160%;
		text-align: center;
		margin: 0 32px 32px;
		text-decoration: none;
	}

		.gallery-list {
			flex-wrap: wrap;
			max-height: 1062px;
			gap: 24px;
			align-content: center;
			min-width: 704px;
		}

	.gallery-item {
		max-width: 421px;
		height: auto;
	}

	.gallery-list-item-first {
		order: 4;
	}

	.gallery-list-item-second {
		order: 3;
	}

	.gallery-list-item-three {
		order: 2;
	}

	.gallery-list-item-four {
		order: 1;
	}

	.gallery-item-img {
		max-width: 320px;
	}
}

@media screen and (min-width: 1440px) {

	.gallery-title {
		font-weight: 700;
		font-size: 36px;
		line-height: 43px;
		letter-spacing: 0.01em;
		text-align: center;
		color: var(--color-scheme-3-text);
		margin: 64px 0 24px 0;
	}

	.gallery-subtitle {
		font-weight: 400;
		font-size: 18px;
		line-height: 29px;
		text-align: center;
		color: var(--color-scheme-3-text);
		margin-bottom: 32px;
	}

		.gallery-list {
			max-height: 870px;
			gap: 24px;
			min-width: 1312px;
		}

	.gallery-item {
		width: calc((100% - 48px) / 3);
	}

	.gallery-list-item-first {
			order: 2;
		}
	
	.gallery-list-item-second {
			order: 3;
		}
	
	.gallery-list-item-three {
			order: 4;
		}
	
	.gallery-list-item-four {
			order: 1;
		}

	.gallery-item-img {
		max-width: 421px;
	}
}