/* #region header */
.page-header {
  width: 100%;
  height: auto;
  background-color: var(--color-emerald-light);
}
.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header-logo-link {
  width: 84px;
  height: 64px;
  padding: 14px 0;
  display: block;
}
.logo-svg {
  width: 100%;
  height: 100%;
}
.header-nav,
.contacts {
  display: none;
}
.burger {
  padding: 0;
  border: none;
  background-color: transparent;
}
.icon-burger {
  display: block;
  fill: var(--color-neutral-darkest);
}
@media screen and (min-width: 768px) {
}
@media screen and (min-width: 1440px) {
  .header-logo-link {
    width: 107px;
    height: 72px;
    padding: 13px 0;
  }
  .header-nav,
  .contacts {
    display: flex;
    align-items: center;
  }
  .header-nav-list {
    display: flex;
    align-items: center;
    gap: 32px;
  }
  .header-nav-link,
  .address-link {
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 16px;
    line-height: 1.6;
    color: var(--color-neutral-darkest);
    position: relative;
    padding: 23px 0;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .header-nav-link:active,
  .address-link:active {
    color: var(--color-emerald);
  }

  .header-nav-link::after,
  .address-link::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: 15px;
    height: 2px;
    width: 0;
    background-color: currentColor;
    transition: width 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .header-nav-link:hover::after,
  .address-link:hover::after,
  .header-nav-link:focus::after,
  .address-link:focus::after {
    width: 100%;
  }
  .contacts {
    font-style: normal;
    display: block;
  }

  .address-list {
    display: flex;
    gap: 16px;
  }

  .burger {
    display: none;
  }
}
/* #endregion header */

/* #region mobile menu  */
.mobile-menu {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--color-emerald-light);
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.mobile-menu.is-open {
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}
.mobile-menu-container {
  position: relative;
  padding-top: 14px;
  padding-bottom: 92px;
  display: flex;
  flex-direction: column;
  height: 100%;
}
.mobile-menu-close {
  position: absolute;
  top: 16px;
  right: 16px;
  border: none;
  width: 32px;
  height: 32px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: transparent;
  padding: 0;
}
.menu-logo {
  width: 84px;
  height: 36px;
  margin-bottom: 14px;
}
.menu-logo img {
  width: 84px;
  height: 36px;
  object-fit: fill;
}
.menu-nav-list {
  display: flex;
  flex-direction: column;
  gap: 32px;
  padding: 32px 0;
  margin-bottom: 32px;
}
.menu-nav-link,
.menu-address-link {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 16px;
  line-height: 1.6;
  color: var(--color-neutral-darkest);
}
.menu-address-list {
  display: flex;
  flex-direction: column;
  gap: 16px;
  padding-top: 32px;
}
.menu-address-link {
  font-style: normal;
  display: inline-block;
}

@media screen and (min-width: 768px) {
  .mobile-menu-close {
    right: 24px;
  }
}
@media screen and (min-width: 1440px) {
  .mobile-menu {
    display: none;
  }
}
/* #endregion mobile menu  */
