:root {
  --color-scheme-1-background: var(--color-emerald-lightest);
  --color-neutral-darkest: #030a06;
  --color-scheme-1-border: var(--opacity-neutral-darkest-15);
  --color-scheme-1-text: var(--color-neutral-darkest);
  --color-neutral-lighter: #d9dad9;
  --color-white: #fff;
  --color-neutral-lightest: #f2f2f2;
  --color-neutral-light: #b3b5b4;
  --color-neutral: #818482;
  --color-neutral-dark: #4e5350;
  --color-neutral-darker: #1c221e;
  --opacity-transparent: rgba(255, 255, 255, 0);
  --color-scheme-1-foreground: var(--color-emerald-lighter);
  --color-scheme-1-accent: var(--color-neutral-darkest);
  --opacity-white-5: rgba(255, 255, 255, 0.05);
  --opacity-white-10: rgba(255, 255, 255, 0.1);
  --opacity-white-15: rgba(255, 255, 255, 0.15);
  --opacity-white-20: rgba(255, 255, 255, 0.2);
  --opacity-white-30: rgba(255, 255, 255, 0.3);
  --opacity-white-40: rgba(255, 255, 255, 0.4);
  --opacity-white-50: rgba(255, 255, 255, 0.5);
  --opacity-white-60: rgba(255, 255, 255, 0.6);
  --opacity-neutral-darkest-5: rgba(3, 10, 6, 0.05);
  --opacity-neutral-darkest-10: rgba(3, 10, 6, 0.1);
  --opacity-neutral-darkest-15: rgba(3, 10, 6, 0.15);
  --opacity-neutral-darkest-20: rgba(3, 10, 6, 0.2);
  --opacity-neutral-darkest-30: rgba(3, 10, 6, 0.3);
  --opacity-neutral-darkest-40: rgba(3, 10, 6, 0.4);
  --opacity-neutral-darkest-50: rgba(3, 10, 6, 0.5);
  --opacity-neutral-darkest-60: rgba(3, 10, 6, 0.6);
  --color-emerald-lightest: #ebf8ed;
  --color-emerald-lighter: #d7f2db;
  --color-emerald-light: #75d281;
  --color-emerald: #3ac04c;
  --color-emerald-dark: #2e993c;
  --color-emerald-darker: #174c1e;
  --color-emerald-darkest: #113916;
  --color-scheme-2-text: var(--color-neutral-darkest);
  --color-scheme-2-background: var(--color-emerald-light);
  --color-scheme-2-border: var(--opacity-neutral-darkest-15);
  --color-scheme-2-accent: var(--color-neutral-darkest);
  --color-scheme-2-foreground: var(--color-emerald);
  --color-scheme-3-text: var(--color-neutral-darkest);
  --color-scheme-3-background: var(--color-white);
  --color-scheme-3-border: var(--opacity-neutral-darkest-15);
  --color-scheme-3-accent: var(--color-neutral-darkest);
  --color-scheme-3-foreground: var(--color-neutral-lightest);
  --color-error-red: #d64040;
}

:root {
  --font-family: 'Fira Sans', sans-serif;
  --second-family: 'Comfortaa', sans-serif;
}

/* Перед злиттям ВИДАЛИТИ всі змінні що знаходяться у файлі! */

/* Стилі пишемо нище цього коментаря */
/* #region header */
.page-header {
  width: 100%;
  height: auto;
  background-color: var(--color-emerald-light);
}
.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header-logo-link {
  width: 84px;
  height: 64px;
  padding: 14px 0;
  display: block;
}
.logo-svg {
  width: 100%;
  height: 100%;
}
.header-nav,
.contacts {
  display: none;
}
.burger {
  padding: 0;
  border: none;
  background-color: transparent;
}
.icon-burger {
  display: block;
  fill: var(--color-neutral-darkest);
}
@media screen and (min-width: 768px) {
}
@media screen and (min-width: 1440px) {
  .header-logo-link {
    width: 107px;
    height: 72px;
    padding: 13px 0;
  }
  .header-nav,
  .contacts {
    display: flex;
    align-items: center;
  }
  .header-nav-list {
    display: flex;
    align-items: center;
    gap: 32px;
  }
  .header-nav-link,
  .address-link {
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 16px;
    line-height: 1.6;
    color: var(--color-neutral-darkest);
    position: relative;
    padding: 23px 0;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .header-nav-link:active,
  .address-link:active {
    color: var(--color-emerald);
  }

  .header-nav-link::after,
  .address-link::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: 15px;
    height: 2px;
    width: 0;
    background-color: currentColor;
    transition: width 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .header-nav-link:hover::after,
  .address-link:hover::after,
  .header-nav-link:focus::after,
  .address-link:focus::after {
    width: 100%;
  }
  .contacts {
    font-style: normal;
    display: block;
  }

  .address-list {
    display: flex;
    gap: 16px;
  }

  .burger {
    display: none;
  }
}
/* #endregion header */

/* #region mobile menu  */
.mobile-menu {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--color-emerald-light);
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.mobile-menu.is-open {
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}
.mobile-menu-container {
  position: relative;
  padding-top: 14px;
  padding-bottom: 92px;
  display: flex;
  flex-direction: column;
  height: 100%;
}
.mobile-menu-close {
  position: absolute;
  top: 16px;
  right: 16px;
  border: none;
  width: 32px;
  height: 32px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: transparent;
  padding: 0;
}
.menu-logo {
  margin-bottom: 14px;
}
.menu-nav-list {
  display: flex;
  flex-direction: column;
  gap: 32px;
  padding: 32px 0;
  margin-bottom: 32px;
}
.menu-nav-link,
.menu-address-link {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 16px;
  line-height: 1.6;
  color: var(--color-neutral-darkest);
}
.menu-address-list {
  display: flex;
  flex-direction: column;
  gap: 16px;
  padding-top: 32px;
}
.menu-address-link {
  font-style: normal;
  display: inline-block;
}

@media screen and (min-width: 768px) {
  .mobile-menu-close {
    right: 24px;
  }
}
@media screen and (min-width: 1440px) {
  .mobile-menu {
    display: none;
  }
}
/* #endregion mobile menu  */
