
.hero {
background-color: var(--color-scheme-1-background);
padding-top: 64px;
padding-bottom: 64px;
}
.hero-flex{
display: flex;
flex-direction: column;
align-items: center;
justify-content: center;
}
.general-title {
font-family: var(--second-family);
font-weight: 700;
font-size: 40px;
line-height: 1.2;
letter-spacing: 0.01em;
color: var(--color-scheme-2-text);
max-width: 288px;
margin-bottom: 20px;
}
.hero-info{
display: flex;
align-self: start;
flex-direction: column;
align-items: center;
justify-content: center;
margin-bottom: 24px;
max-width: 288px;
}
.general-text {
	font-family: var(--font-family);
font-weight: 400;
font-size: 16px;
line-height: 1.6;
color: var(--color-scheme-2-text);
margin-bottom: 24px;
}
.btn-primary {
border: 1px solid var(--color-neutral-darkest);
background-color: var(--color-neutral-darkest);
border-radius: 6px;
display: flex;
	justify-content: center;
	align-items: center;
width: 288px;
height: 50px;
font-weight: 400;
font-size: 16px;
line-height: 1.6;
color: var(--color-white);
text-align: center;
}
.hero-image-box{
	border-radius: 40px;
	overflow: hidden;
}


@media screen and (min-width: 768px) {
 .hero-flex{
flex-direction: row;
row-gap: 20px;
column-gap: 24px;
flex-wrap: wrap;
justify-content: space-between;
}
.hero-info{
align-items: start;
max-width: 340px;
margin-bottom: 0;
}
.general-title{
	margin-bottom: 0;
	max-width: 340px;
}
.hero{
padding-top: 32px;
padding-bottom: 64px;
}
.btn-primary{
width: 148px;
height: 50px;
}
.general-text{
	font-size: 18px;
	margin-bottom: 32px;
}
}
@media screen and (min-width: 1440px) {
  .general-title{
	font-size: 56px;
	max-width: 640px;
}
.hero-info{
	max-width: 640px;
	
}
.hero-flex{
	column-gap: 32px;
}
}