:root {
	--color-scheme-1-background: var(--color-emerald-lightest);
	--color-neutral-darkest: #030a06;
	--color-scheme-1-border: var(--opacity-neutral-darkest-15);
	--color-scheme-1-text: var(--color-neutral-darkest);
	--color-neutral-lighter: #d9dad9;
	--color-white: #fff;
	--color-neutral-lightest: #f2f2f2;
	--color-neutral-light: #b3b5b4;
	--color-neutral: #818482;
	--color-neutral-dark: #4e5350;
	--color-neutral-darker: #1c221e;
	--opacity-transparent: rgba(255, 255, 255, 0);
	--color-scheme-1-foreground: var(--color-emerald-lighter);
	--color-scheme-1-accent: var(--color-neutral-darkest);
	--opacity-white-5: rgba(255, 255, 255, 0.05);
	--opacity-white-10: rgba(255, 255, 255, 0.1);
	--opacity-white-15: rgba(255, 255, 255, 0.15);
	--opacity-white-20: rgba(255, 255, 255, 0.2);
	--opacity-white-30: rgba(255, 255, 255, 0.3);
	--opacity-white-40: rgba(255, 255, 255, 0.4);
	--opacity-white-50: rgba(255, 255, 255, 0.5);
	--opacity-white-60: rgba(255, 255, 255, 0.6);
	--opacity-neutral-darkest-5: rgba(3, 10, 6, 0.05);
	--opacity-neutral-darkest-10: rgba(3, 10, 6, 0.1);
	--opacity-neutral-darkest-15: rgba(3, 10, 6, 0.15);
	--opacity-neutral-darkest-20: rgba(3, 10, 6, 0.2);
	--opacity-neutral-darkest-30: rgba(3, 10, 6, 0.3);
	--opacity-neutral-darkest-40: rgba(3, 10, 6, 0.4);
	--opacity-neutral-darkest-50: rgba(3, 10, 6, 0.5);
	--opacity-neutral-darkest-60: rgba(3, 10, 6, 0.6);
	--color-emerald-lightest: #ebf8ed;
	--color-emerald-lighter: #d7f2db;
	--color-emerald-light: #75d281;
	--color-emerald: #3ac04c;
	--color-emerald-dark: #2e993c;
	--color-emerald-darker: #174c1e;
	--color-emerald-darkest: #113916;
	--color-scheme-2-text: var(--color-neutral-darkest);
	--color-scheme-2-background: var(--color-emerald-light);
	--color-scheme-2-border: var(--opacity-neutral-darkest-15);
	--color-scheme-2-accent: var(--color-neutral-darkest);
	--color-scheme-2-foreground: var(--color-emerald);
	--color-scheme-3-text: var(--color-neutral-darkest);
	--color-scheme-3-background: var(--color-white);
	--color-scheme-3-border: var(--opacity-neutral-darkest-15);
	--color-scheme-3-accent: var(--color-neutral-darkest);
	--color-scheme-3-foreground: var(--color-neutral-lightest);
	--color-error-red: #d64040;
}

:root {
  --font-family: "Fira Sans", sans-serif;
  --second-family: "Comfortaa", sans-serif;
}


/* Перед злиттям ВИДАЛИТИ всі змінні що знаходяться у файлі! */
/* Стилі пишемо нище цього коментаря */

.sec-product {
	padding: 32px 0;
	background: var(--color-scheme-1-background);
}

.title-product {
	font-family: var(--second-family);
	font-weight: 700;
	font-size: 36px;
	line-height: 1.20;
	letter-spacing: 0.01em;
	text-align: center;
	color: var(--color-scheme-1-text);
	margin-bottom: 32px;
}

.list-product {
	display: flex;
	flex-direction: column;
	row-gap: 40px;
	height: 100%;
}

.item-product {
	display: flex;
	flex-direction: column;
	align-items: center;
	row-gap: 16px;
	
}

.product {
	border-radius: 32px;
	display: block;
	height: auto;
	width: 100%;
}

.info {
	display: flex;
	flex-direction: column;
	align-items: center;
	flex-grow: 1;
}

.name-bag {
	font-family: var(--font-family);
	font-weight: 600;
	font-size: 18px;
	line-height: 1.60;
	text-align: center;
	color: var(--color-scheme-1-text);
}

.info-bag {
	font-family: var(--font-family);
	font-weight: 400;
	font-size: 14px;
	line-height: 1.60;
	text-align: center;
	color: var(--color-scheme-1-text);
	margin-bottom: 8px;
}

.price {
	font-family: var(--font-family);
	font-weight: 600;
	font-size: 20px;
	line-height: 160%;
	text-align: center;
	color: var(--color-scheme-1-text);
	
}

.buy {
	border: 1px solid var(--color-neutral-darkest);
	border-radius: 6px;
	padding: 8px 20px;
	width: 288px;
	height: 40px;
	background-color: transparent;

	font-family: var(--font-family);
	font-weight: 400;
	font-size: 16px;
	line-height: 160%;
	color: var(--color-neutral-darkest);
}


@media screen and (min-width: 768px) {
	.sec-product {
		padding: 64px 0;
	}

	.list-product {
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
		column-gap: 24px;
		row-gap: 48px;
		
	}
	
	.item-product {
		flex-basis: calc((100% - 24px) / 2);
	}

	.buy {
		min-width: 340px;
	}
}

@media screen and (min-width: 1440px) {

	.list-product {
		row-gap: 64px;
	}


  .item-product {
    flex-basis: calc((100% - 72px) / 4);
  }


  .buy {
		min-width: 310px;
	}
}