:root {
	--color-scheme-1-background: var(--color-emerald-lightest);
	--color-neutral-darkest: #030a06;
	--color-scheme-1-border: var(--opacity-neutral-darkest-15);
	--color-scheme-1-text: var(--color-neutral-darkest);
	--color-neutral-lighter: #d9dad9;
	--color-white: #fff;
	--color-neutral-lightest: #f2f2f2;
	--color-neutral-light: #b3b5b4;
	--color-neutral: #818482;
	--color-neutral-dark: #4e5350;
	--color-neutral-darker: #1c221e;
	--opacity-transparent: rgba(255, 255, 255, 0);
	--color-scheme-1-foreground: var(--color-emerald-lighter);
	--color-scheme-1-accent: var(--color-neutral-darkest);
	--opacity-white-5: rgba(255, 255, 255, 0.05);
	--opacity-white-10: rgba(255, 255, 255, 0.1);
	--opacity-white-15: rgba(255, 255, 255, 0.15);
	--opacity-white-20: rgba(255, 255, 255, 0.2);
	--opacity-white-30: rgba(255, 255, 255, 0.3);
	--opacity-white-40: rgba(255, 255, 255, 0.4);
	--opacity-white-50: rgba(255, 255, 255, 0.5);
	--opacity-white-60: rgba(255, 255, 255, 0.6);
	--opacity-neutral-darkest-5: rgba(3, 10, 6, 0.05);
	--opacity-neutral-darkest-10: rgba(3, 10, 6, 0.1);
	--opacity-neutral-darkest-15: rgba(3, 10, 6, 0.15);
	--opacity-neutral-darkest-20: rgba(3, 10, 6, 0.2);
	--opacity-neutral-darkest-30: rgba(3, 10, 6, 0.3);
	--opacity-neutral-darkest-40: rgba(3, 10, 6, 0.4);
	--opacity-neutral-darkest-50: rgba(3, 10, 6, 0.5);
	--opacity-neutral-darkest-60: rgba(3, 10, 6, 0.6);
	--color-emerald-lightest: #ebf8ed;
	--color-emerald-lighter: #d7f2db;
	--color-emerald-light: #75d281;
	--color-emerald: #3ac04c;
	--color-emerald-dark: #2e993c;
	--color-emerald-darker: #174c1e;
	--color-emerald-darkest: #113916;
	--color-scheme-2-text: var(--color-neutral-darkest);
	--color-scheme-2-background: var(--color-emerald-light);
	--color-scheme-2-border: var(--opacity-neutral-darkest-15);
	--color-scheme-2-accent: var(--color-neutral-darkest);
	--color-scheme-2-foreground: var(--color-emerald);
	--color-scheme-3-text: var(--color-neutral-darkest);
	--color-scheme-3-background: var(--color-white);
	--color-scheme-3-border: var(--opacity-neutral-darkest-15);
	--color-scheme-3-accent: var(--color-neutral-darkest);
	--color-scheme-3-foreground: var(--color-neutral-lightest);
	--color-error-red: #d64040;
}

:root {
  --font-family: "Fira Sans", sans-serif;
  --second-family: "Comfortaa", sans-serif;
}

/* Перед злиттям ВИДАЛИТИ всі змінні що знаходяться у файлі! */

/* Стилі пишемо нище цього коментаря */
body{
	background: var(--color-emerald-lightest);
}

.testimonial-sect{
	padding: 32px 16px;
}

@media screen and (min-width: 768px) {
  .testimonial-sect {
    padding: 64px 32px;
  }
}

@media screen and (min-width: 1158px) {
  .testimonial-sect {
    padding: 64px;
  }
}


.testimonial-list{
	display: flex;
	flex-direction: column;
	gap: 40px;
}

@media screen and (min-width: 768px) {
  .testimonial-list {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	flex-direction: row;
	column-gap: 24px;
	row-gap: 32px;
  }

  .testimonial-item{
	flex: 0 1 calc(50% - 24px);
	max-width: 380px;
  }
}

@media screen and (min-width: 1158px) {
  .testimonial-list {
    display: flex;
	flex-wrap: nowrap;
	gap: 24px;
  }

  .testimonial-item{
	flex: auto;
  }
}

.testimonial-tittle{
	font-family: var(--second-family);
	font-weight: 700;
	font-size: 36px;
	line-height: 1.2;
	letter-spacing: 0.01em;
	text-align: center;
	color: var(--color-scheme-1-text);
	margin-bottom: 32px;
}

@media screen and (min-width: 1158px) {
  .testimonial-tittle {
    max-width: 540px;
	margin: 0 auto;
	margin-bottom: 80px;
  }
}

.svg-star-wrapper{
	margin-bottom: 12px;
}

.star-icon-filled{
	fill: var(--color-scheme-2-foreground);
}

.star-icon-empty{
	fill: var(--color-scheme-2-foreground);
}

.testimonial-paragraph{
	font-family: var(--second-family);
	font-weight: 700;
	font-size: 20px;
	line-height: 1.4;
	letter-spacing: 0.01em;
	color: var(--color-scheme-1-text);
	margin-bottom: 12px;
}

@media screen and (min-width: 768px) {
  .testimonial-paragraph {
    margin-bottom: 24px;
  }
}


.testimonial-author{
	font-family: var(--font-family);
	font-weight: 600;
	font-size: 16px;
	line-height: 1.6;
	color: var(--color-scheme-1-text);
}

@media screen and (min-width: 1158px) {
  .testimonial-lower-name {
    margin-bottom: 52px;
  }
}


